div.selections {
  width: 700px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.selections button.selection-button {
  height: 100px;
  width: 100px;
  background: #ffffff;
  color: #000000;
  /* border: none; */
}

div.selections div.circle {
  opacity: 0;
}

div.selections div.circle:hover {
  opacity: 1;
  cursor: pointer;
}
