div.win-container {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  transition: all 1s ease;
}

div.win-display {
  top: 0;
  transition: all 1s ease;
}

div.win-container div.win {
  height: 200px;
  width: 200px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div div.win-container div.black {
  color: #000000;
  border: 2px solid #000000;
}

div.win-container div.red {
  color: #ff0000;
  border: 2px solid #ff0000;
}
